<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ResourcePractice</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/paper/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

  <style>
    /* Only necessary if you are using navbar-fixed-top */
    body {
      padding-top: 50px;
    }
  </style>

  <link href="/assets/application-933259d6df80d47b0b16c28abf326b5e.css" media="all" rel="stylesheet" />
  <script src="/assets/application-40d525f9b95f1e8c8b65d24a279ca32d.js"></script>
  <meta content="authenticity_token" name="csrf-param" />
<meta content="4J+tarGmw72it1U7BdGUdvaZl4Agtf8qK5XwtkcnTqs=" name="csrf-token" />

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">MovieDB</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/directors">Directors</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/roles">Roles</a></li>
        <li><a href="/actors">Actors</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

  <div class="container">


    <div class="page-header">
  <h1>Directors</h1>
</div>

<p><a href="/directors/new_form" class="btn btn-primary">Add a New Director</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Image</th>
      <th>Dob</th>
      <th>Name</th>
      <th>Bio</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @directors.each do |director| %>
    <tr>
       <td><img src="<%= director.image_url %>" width="80"></td>
       <td><%= director.name %></td>
       <td><%= truncate(director.bio) %></td>
       <td><%= director.dob %></td>
       <td>
          <a href="/directors/<%= director.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/directors/<%= director.id %>/edit_form" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_director/<%= director.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
     </tr>
    <% end %>
  </tbody>

</body>
